
body {
    display:flex;
    font-family: sans-serif;
    margin-top: 0px;
}

aside {
    background-color:coral;
}

/* aside 1 */
.aside1 {
    background-color: white;
    border-right: 1px rgb(200, 200, 200,0.5) solid;
    width:24%;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 0px;
}



.aside1 ul {
    list-style-type: none;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 1px;
}

.logo {
    width: 50%;
    height: 50%;
    
}

.menuLeftRound {
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuLeftRound:hover {
    background-color: rgb(29, 155, 240,0.1);
    border-radius: 100%;
    cursor:pointer;
}

.menuLeftBtn {
    background-color: white;
    padding: 10px 5px;
    text-align: left;
    display:flex;
    justify-content: space-around;
    border-radius: 50px;
    width: 50%;
}

.menuLeftBtn:hover {
    background-color: rgb(200, 200, 200,0.5);
    cursor: pointer;
}

.menuLeftIcon {
    width:20px;
}

/* main */

main {
    width: 43%;
    background-color:white;
}

/* search bar and settings btn*/
    header {
        display: flex;
        flex-direction:row;
        align-items: center;
        gap: 4%;
        margin: 1% 1% 1% 3%;
    }

    .search {
        width: 90%;
        background-color: #EFF3F4;
        background-image: url(images/search.png);
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: 5% 47%;
        text-indent: 30px;
        color: #536471;
        padding: 10px 20px;
        border:none;
        border-radius: 20px;
    }

    .search:focus {
        outline-color: #1D9BF0;
        background-color: white;
    }
    .settingsBtn {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        cursor: pointer;
    }

    .settingsBtn:hover {
        background-color: #EFF3F4;
    }

    .settingsIcon {
        width: 15px;
    }

/* nav bar */



/* aside 2*/
.aside2 {
    width: 33%;
}

